.game-container {
  text-align: center;
  font-family: 'Uncial Antiqua', serif;
  color: #ffdf80;
  text-shadow: 2px 2px 8px #000;
  transition: background-color 0.3s ease;
  background: url('./images/ashenvale-wow.1920x1080_002.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.game-container.damage {
  background-color: rgba(255, 0, 0, 0.5);
}

.game-area {
  position: relative;
  width: 90%;
  max-width: 400px;
  height: 600px;
  border: 5px solid #8b5a2b;
  margin: 0 auto;
  overflow: hidden;
  background: url('./images/GameBackground.jpg') no-repeat center center;
  background-size: cover;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
  border-radius: 12px;
}

.coin,
.bomb {
  position: absolute;
  width: 40px;
  height: 40px;
  animation: fall 3s linear;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes fall {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(100vh);
  }
}